<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/png" href="/favicon.ico">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="ext/materialize.min.css">
        <link rel='stylesheet' href='ext/nprogress.css' />
        <link rel="stylesheet" href="style.css" />
        <title>miniNote project :)</title>
        <script type="text/javascript" src='ext/firebase.js'></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script type="text/javascript" data-main="app_vue" src="ext/require.js"></script>
    </head>

    <body onscroll="mn.bodyScroll();">
        <div id="app">
            <div class="header"> <i id="btnMenu" class='material-icons' @click="mn.menuClick">menu</i>
                <div class="title" @click="mn.titleClick">mininote is loading..</div>
                <div class="state"></div>
                <div class="message"></div> <i id="btnSearch" class='material-icons' @click="mn.searchClick">search</i> </div>
            <ul class="menu collection">
                <li class="collection-item">
                    <div class="menuTitle"><i class="material-icons circle">N</i>nickname</div>
                    <div class="menuContent"><input id="nickname" type="text" @change="mn.setNickname(this.value)" /></div>
                </li>
                <li class="collection-item">
                    <div class="menuTitle"><i class="material-icons circle">F</i>fontSize</div>
                    <div class="menuContent"><input id="fontSize" type="number" onchange="mn.setFontSize(this.value);" /></div>
                </li>
                <li class="collection-item">
                    <div class="menuTitle"><i class="material-icons circle">I</i>iconColor</div>
                    <div class="menuContent"> <select id="iconColor" @change="mn.setIconColor(this.value)">
            <option value="all">all</option>
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="purple">purple</option>
            <option value="pink">pink</option>
            <option value="monochrome">monochrome</option>
        </select> </div>
                </li>
            </ul>
            <div>
                <ul id="list" class="collection" @click="mn.listClick" @touchstart="mn.listClick">
                    <li v-for="todo in todos" :id="todo.key" class="collection-item avatar" @click="mn.rowClick(todo.key)">
                        <i class="createDate" v-html="todo.createDate"></i><i class="btnContext"><<</i>
                        <div class="title">
                            <div class="title" v-html="todo.title"></div>
                        </div>
                        <div class="content" v-html="todo.content"></div> <i id="btn_delete" @onclick='mn.removeNote(todo.key)' class="material-icons">delete</i> </li>
                </ul>
            </div>
            <div class="diff"></div>
            <div id="topBtn" class="fixed-action-btn" style="bottom: 110px; right: 24px;"> <a class="btn-floating btn-large waves-effect waves-light" style="opacity: 0.3" onclick="mn.topNavi();"> <i
            id="topNavi" class="navi material-icons">{{topNavi}}</i> </a> </div>
            <div id="writeBtn" class="fixed-action-btn" v-if="addBtn !== '저장'"><a class="btn-floating btn-large waves-effect waves-light" @click="mn.writeNote">
                <i id="addBtn" class="material-icons">{{addBtn}}</i></a></div>
            <div class="dialog" v-if="topNavi === '목록'">
                <div id="div_write">
                    <div id="noteContent" :key="note.key" class="noteContent" contenteditable="true" @keyup="mn.keyupCheck" v-html="note.txt"></div>
                </div>
            </div>
            <div class="search">
                <div class="modal"></div>
                <div id="div_search"><textarea id="input2" class="input" placeholder=""></textarea>
                    <div class="btn_grp">
                        <div id="btn_search" class="btn" @click="mn.searchNote">검색</div>
                        <div id="btn_cancel" class="btn" @click="mn.cancelSearch">취소</div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
